html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
  }

  .headline-2 {
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: #9F0908;
    margin: 0px;
  }

  .economica {
    font-size: 56px;
    font-family: 'Economica', sans-serif;
    margin: 15px 0px;
  }

  span {
    font-size: 24px;
    display: flex;
    align-items: center;
  }

  /*Kopf Bereich der Seite*/

  .main-container {
    height: 100vh;
    background-image: url(./img/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .head-container {
    position: absolute;
    top: 44px;
    left: 100px;
    right: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headline {
    font-size: 96px;
    font-weight: bold;
    margin: 5px;
    filter: drop-shadow(6px 9px 16px black);
  }

  .head-span {
    font-size: 24px;
    filter: drop-shadow(6px 9px 16px black);
  }



  .logo {
    width: 64px;
    height: 64px;
  }

  .menu-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .menu-list a {
    color: white;
    text-decoration: none;
  }

  .call-bt {
    background-color: #9F0908;
    display: flex;
    align-items: center;
    height: 24px;
    padding: 8px 12px;
    border: solid 2px;
    border-radius: 12px;
    gap: 8px;
  }

  .menu-list a:hover {
    filter: drop-shadow(4px 4px 5px rgba(250, 250, 250, 0.8));
  }

  .call-bt:hover {
    background-color: #b84040;
  }

  .language {
    width: 35px;
    border: solid 0.5px white;
    height: 24px;
  }

  .language:hover {
    cursor: pointer;
    filter: contrast(0.6);
  }

  /*Order Bereich*/

  .order-menu {
    display: flex;
    justify-content: space-between;
    font-size: 56px;
    font-weight: bold;
    text-align: center;
  }

  .order-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .order-img {
    width: 128px;
    display: flex;
  }

  .order-container {
    padding: 120px;
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  /*Menu Bereich*/


  .menu-background-container {
    background-image: url(img/section_our_menu_bg.jpg);
    padding: 120px;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    gap: 56px;
  }



  .dish-img {
    width: 352px;
    height: 352px;
  }

  .dish-price {
    margin: 0px 80px;
  }



  .price-container {
    display: flex;
    align-items: center;
  }

  .price-container2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  td {
    font-size: 32px;
    color: #675E54;
    font-weight: bold;
    padding: 0 64px 0 0;
  }

  /*Google Maps Bereich*/

  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 64px 0;
    gap: 8px;
  }

  .address-img {
    width: 24px;
    height: 24px;

  }

  iframe {
    width: 100%;
    height: 600px;
  }

  /*Footer Bereich*/

  .footer-container {
    background-color: #0A141E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    padding: 46px 120px 0px 120px;
  }

  .net-logo {
    width: 40px;
    height: 40px;
    margin-left: 12px;
  }

  .text-logo {
    height: 44px;
  }

  /*Overlay Menu */

  .icon-menu {
    position: absolute;
    top: 67px;
    right: 29px;
    width: 50px;
    cursor: pointer;
    z-index: -1;
  }

  .overlay-menu {
    background-color: #17283B;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100vh;
    z-index: 2;
    gap: 15px;
    padding: 150px 0 0 0;
    align-items: center;
    border-left: solid 1px black;
    transform: translateX(501px);
    transition: all 255ms ease-in-out;

  }

  .d-none-overlay{
    display: none;
  }

  .show-overlay-menu {
    transform: translateX(0);
  }

  .overlay-menu a {
    color: white;
    text-decoration: none;
    border: solid 1px;
    text-align: center;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .overlay-menu a:hover {
    filter: drop-shadow(4px 1px 5px white);
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }

  .close-bt {
    position: absolute;
    top: 30px;
    width: 80px;
    height: 50px;
    border-radius: 25px;
    background-color: #9F0908;
    color: white;
  }


  /* Mobile */

  @media(max-width: 1000px) {
    .hide-mobile {
      display: none;
    }

    .call-bt {
      height: 20px;
      padding: 8px 10px;
    }

    .logo {
      width: 55px;
      height: 55px;
    }

    .headline {
      font-size: 74px;
      text-align: center;
    }

    .head-span {
      font-size: 19px;
    }

    .order-menu {
      gap: 100px;
      flex-direction: column;
      align-items: center;
    }

    .order-box {
      width: 30%;
    }

    .headline-2 {
      font-size: 63px;
      text-align: center;
    }

    .price-container {
      flex-direction: column;
      padding-bottom: 60px;
    }

    .price-container2 {
      flex-direction: column-reverse;
      padding-bottom: 60px;
    }

    .dish-img {
      width: 300px;
      height: 300px;
    }

    .economica {
      font-size: 48px;
      text-align: center;
    }

    td {
      font-size: 26px;
    }

    .padding-none-mobile {
      padding: 0;
    }

    span {
      font-size: 20px;
    }

    .footer-container {
      justify-content: flex-start;
      padding: 46px 120px 31px 120px;
      flex-direction: column;
      gap: 28px;
    }

    .language-container {
      display: none;
    }

    .icon-menu {
      z-index: 1;
    }

    .overlay-menu {
      width: 319px;
    }

    .hidden-overlay{
      overflow-x: hidden;
    }


  }

  @media(max-width: 600px) {
    .head-container {
      left: 18px;
      gap: 33px;
    }

    .call-bt {
      height: 20px;
      padding: 8px 9px;
    }

    .logo {
      width: 45px;
      height: 45px;
    }

    .headline {
      font-size: 60px;
    }

    .head-span {
      font-size: 14px;
    }

    .headline-2 {
      font-size: 35px;
    }

    .economica {
      font-size: 39px;
    }

    .dish-img {
      width: 220px;
      height: 220px;
    }

    td {
      font-size: 20px;
    }

    span {
      font-size: 17px;
    }

    .address {
      text-align: center;
    }

    .order-container {
      padding: 116px;
    }

    .menu-background-container {
      padding: 116px;
    }

    .text-logo {
      display: none;
    }

    .footer-container {
      padding: 20px 20px 20px 20px;
      justify-content: center;
    }

  }